<h1>Listing others</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Tags</th>
    <th>Hu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @others.each do |other| %>
  <tr>
    <td><%= other.word %></td>
    <td><%= other.tags %></td>
    <td><%= other.hu %></td>
    <td><%= link_to 'Show', other %></td>
    <td><%= link_to 'Edit', edit_other_path(other) %></td>
    <td><%= link_to 'Destroy', other, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Other', new_other_path %>
