<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @other.word %>
</p>

<p>
  <b>Tags:</b>
  <%= @other.tags %>
</p>

<p>
  <b>Hu:</b>
  <%= @other.hu %>
</p>


<%= link_to 'Edit', edit_other_path(@other) %> |
<%= link_to 'Back', others_path %>
