<%= form_for(@noun) do |f| %>
  <% if @noun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@noun.errors.count, "error") %> prohibited this noun from being saved:</h2>

      <ul>
      <% @noun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oart %><br />
    <%= f.text_field :oart %>
  </div>
  <div class="field">
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :def %><br />
    <%= f.text_field :def %>
  </div>
  <div class="field">
    <%= f.label :pl %><br />
    <%= f.text_field :pl %>
  </div>
  <div class="field">
    <%= f.label :defpl %><br />
    <%= f.text_field :defpl %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :hu %><br />
    <%= f.text_field :hu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
