<h1>Listing nouns</h1>

<table>
  <tr>
    <th>Oart</th>
    <th>Word</th>
    <th>Def</th>
    <th>Pl</th>
    <th>Defpl</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nouns.each do |noun| %>
  <tr>
    <td><%= noun.oart %></td>
    <td><%= noun.word %></td>
    <td><%= noun.def %></td>
    <td><%= noun.pl %></td>
    <td><%= noun.defpl %></td>
    <td><%= noun.tags %></td>
    <td><%= link_to 'Show', noun %></td>
    <td><%= link_to 'Edit', edit_noun_path(noun) %></td>
    <td><%= link_to 'Destroy', noun, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Noun', new_noun_path %>
