<p id="notice"><%= notice %></p>

<p>
  <b>Oart:</b>
  <%= @noun.oart %>
</p>

<p>
  <b>Word:</b>
  <%= @noun.word %>
</p>

<p>
  <b>Def:</b>
  <%= @noun.def %>
</p>

<p>
  <b>Pl:</b>
  <%= @noun.pl %>
</p>

<p>
  <b>Defpl:</b>
  <%= @noun.defpl %>
</p>

<p>
  <b>Tags:</b>
  <%= @noun.tags %>
</p>


<%= link_to 'Edit', edit_noun_path(@noun) %> |
<%= link_to 'Back', nouns_path %>
